*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    min-height: 100vh;
    
}
.logo{
    font-size: 2em;
    font-weight: bold;
}
.logo span{
    color: #e67e22;
}
nav{
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 70px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu a{
    text-decoration: none;
    color: #232323;
    font-weight: bold;
    font-size: 1.2 rem;
    padding: 10px 20px;

}
.menu a:first-child{
    color: #e67e22;
}
.menu a:hover{
    color: #e67e22;
}
.search{
    position: relative;
}
.search input{
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid gray;
    outline: none;
}
#icon{
    position: absolute;
    right:0;
    padding: 10px 20px;
}
#mode{
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 15px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    flex-basis: 40%;
}
.right{
    flex-basis: 50%;
}
.right img{
    width: 100%;
}
.left h1{
    font-size: 3em;
    margin-bottom:10px ;
}
.left p{
    line-height: 2.2em;
    
}
.left  h1 span{
    color: #e67e22;

}
.left a{
    text-decoration: none;
    color: white;
    background: #e67e22;
    padding: 10px 20px;
    border-radius: 8px;
}
.icons{
    margin-top: 3rem;}

.icons i{    
    padding: 15px;
    font-size: 2em;
    color: #232323;
    cursor: pointer;
    transition: 0.4s;
}
.icons i:hover{
    background: #73dadd;
    color: white;
    border-radius: 50%;
}
.icons i:last-child{
    color: white;
    background: #73dadd;
    border-radius: 50%;
}
@media only screen and (max-width:770px){
    .logo{
        width: 100%;
        text-align: center;
        font-size: 2.5em;
    }
    .serch{
        display: none;}
        #mode{display: none;}
        nav{
            padding: 0px 20px;
        }
        .menu{
            width: 100%;
            text-align: center;
        }
        .search{
            display: none;
        }
        .container{
            text-align: center;
            padding: 20px 40px;
            flex-direction: column-reverse;
        }
}